framework: net40, net45, net451, net452, netstandard1.6
redirects: on

source https://nuget.org/api/v2

nuget Akka.Serialization.Hyperion prerelease
nuget FSharp.NET.Sdk
nuget FsPickler >= 3.2
nuget FSPowerPack.Linq.Community >= 3.0
nuget MessagePack
nuget Microsoft.NET.Test.Sdk
nuget Octokit
nuget Reactive.Streams >= 1.0.2
nuget FAKE 
nuget FsCheck 
nuget FsCheck.Xunit 
nuget Newtonsoft.Json >= 9.0
nuget System.Linq.Expressions
nuget xunit >= 2.3.0 prerelease
nuget xunit.abstractions >= 2.0.0 prerelease
nuget xunit.assert >= 2.3.0 prerelease
nuget xunit.runner.console >= 2.3.0 prerelease
nuget xunit.runner.visualstudio >= 2.3.0 prerelease
nuget xunit.extensibility.execution >= 2.3.0 prerelease
nuget FSharp.Core

nuget Akka >= 1.3.1
nuget Akka.Streams >= 1.3.1
nuget Akka.Persistence prerelease 
nuget Akka.Persistence.Sqlite prerelease 
nuget Akka.Persistence.Sql.Common prerelease 
nuget Akka.Persistence.Query prerelease 
nuget Akka.Persistence.Query.Sql prerelease 
nuget Akka.Remote >= 1.3.1
nuget Akka.TestKit >= 1.3.1
nuget Akka.TestKit.Xunit2 >= 1.3.1
nuget Akka.Cluster >= 1.3.1
nuget Akka.Cluster.Sharding >= 1.3.1 prerelease
nuget Akka.Cluster.Tools >= 1.3.1 
nuget Akka.DistributedData >= 1.3.1 prerelease