source https://nuget.org/api/v2

nuget Akka
nuget Akka.Persistence
nuget Akka.TestKit
nuget FAKE
nuget FSPowerPack.Linq.Community
nuget FSharp.Formatting
nuget FsCheck
nuget FsCheck.Xunit
nuget FsPickler
nuget Newtonsoft.Json >= 7.0.1-beta3
nuget Octokit
nuget SourceLink
nuget xunit.runner.console

github fsharp/FAKE modules/Octokit/Octokit.fsx