type project
id Akkling.Cluster.Sharding
authors Bartosz Sypytkowski
projectUrl http://github.com/Horusiath/Akkling
licenseUrl http://github.com/Horusiath/Akkling/blob/master/LICENSE
requireLicenseAcceptance false
copyright Copyright 2015
tags
    akka.net fsharp cluster sharding
summary
    F# wrapper library for Akka.NET cluster sharding module.
description
    Library used for working with Akka.NET using F# in type safe manner with functional principles in mind