type project
id Akkling.Streams.TestKit
authors Bartosz Sypytkowski
projectUrl http://github.com/Horusiath/Akkling
licenseUrl http://github.com/Horusiath/Akkling/blob/master/LICENSE
requireLicenseAcceptance false
copyright Copyright 2015
tags
    akka.net streams fsharp testing fscheck
summary
    F# wrapper library for Akka.NET Streams TestKit library using FsCheck and xUnit.
description
    Library used for working with Akka.NET using F# in type safe manner with functional principles in mind